@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

@import "~normalize.css";
@import "fonts";
@import "variables";

body{
  background: #f0f0f0;
  font-family: 'Circe', sans-serif;
  letter-spacing: .4px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-res{
  width: 100%;
  height: auto;
}

.c-header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  &__container{
    padding: 0 15px;
    position: relative;
    display: flex;
    height: 100%;
  }
  .header-logo{
    display: block;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    line-height: 45px;
    font-size: 20px;
    &__text{
      text-decoration: none;
      color: #001;
      position: relative;
      &:hover{
        color: #ceb597;
        transition: ease-out .3s;
        cursor: pointer;
      }
      &:before{
        content: 'CodeBright';
        position: absolute;
        font-size: 9px;
        line-height: 9px;
        bottom: -8px;
        right: 0;
      }
    }
  }
  .header-menu{
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
    &__item{
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      float: left;
      font-size: 14px;
      margin-left: 30px;
      border-top: 4px solid transparent;
      &-active{
        font-weight: 500;
        border-top: 4px solid #574341;
      }
      &__link{
        text-decoration: none;
        color: #001;
        &:hover{
          color: #624242;
          transition: ease-out .3s;
        }
      }
    }
  }
  .header-profile{
    margin-left: 100px;border-top: 4px solid transparent;
    &__link{
      text-decoration: none;
      line-height: 45px;
    }
  }
}

.c-content{
  margin-top: 50px;
  &__container{
    padding: 0 15px;
    position: relative;
    padding-top: 20px;
  }
}

.feed-container{
  max-width: 600px;
  .feed-loader{
    padding: 50px 0;
    text-align: center;
    &__spinner{
      font-size: 30px;
      animation-name: spin;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  .feed-more-items{
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 10px 0;
    &__button{
      &:hover{
        color: #ceb597;
        transition: ease-out .3s;
        cursor: pointer;
      }
    }
  }
  .feed-tags{
    margin-bottom: 20px;
    padding: 10px 0 0 0;
    background: #fff;
  }
  .feed-item{
    margin-bottom: 20px;
    padding: 10px 0 0 0;
    background: #fff;
    //box-shadow: 0 2px 7px rgba(0,0,0,.08);
    &__header{
      padding: 0 15px;
      color: #818181;
      height:20px;
      display: flex;
      justify-content: flex-start;
      &__logo{
        width: 20px;
        height: 20px;
      }
      &__author{
        display: inline-block;
        line-height: 20px;
        padding: 0 15px;
        font-size: 11px;
      }
      &__greet{
        line-height: 20px;
        margin-left: auto;
        margin-right: 10px;
      }
    }
    &__title{
      padding: 10px 15px;
      font-size: 21px;
      font-weight: bold;
      &__link{
        color: #2a2a2a;
        text-decoration: none;
      }
    }
    &__preview{
      padding: 0 15px 15px 20px;
      color: #616364;
      font-size: 14px;
      margin: 0;
      filter: sepia(60%);

    }
    &__thumb{
      max-height: 200px;
      overflow: hidden;
      position: relative;
      &__image{
        filter: blur(2px) brightness(0.4);
        width: 100%;
        height: auto;
        transform: scale(1.10);
        transition: ease-out .3s;
        &:hover{
          transform: scale(1.07);

        }
      }
    }
    &__tags{
      display: none;//vremenno
      &:after{
        content: "";
        display: table;
        clear: both;
      }
      &__item{
        padding: 4px 8px;
        background: #1b6d85;
        border-radius: 3px;
      }
    }
  }
}

.c-post{
  max-width: 600px;
  background: #fff;
  padding: 15px 0;
  &__title,&__text{
    padding:0 18px;
  }
  &__title{
    margin: 0 0 18px 0;
    font-size: 28px;
    line-height: 28px;
  }
  &__thumb{
    position: relative;
    max-height: 350px;
    overflow: hidden;
    &__image{
      width: 100%;
      height: auto;
    }
  }
  &__text{
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: .5px;
    color: #2a2a2a;
  }
}

.greet{
  font-size: 13px;
  display: flex;
  align-items: center;
  &__button{
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;
    &:hover{
      color: #ceb597;
      transition: ease-out .2s;
      cursor: pointer;
    }
  }
  &__counter{
    margin-left: 3px;
    letter-spacing: 0;
    font-size: 9px;
    line-height: 13px;
  }
}

.login{
  background: #fff;
  max-width: 500px;
  &-form{
    padding: 10px 80px;
    &__container{
      display: block;
      padding: 10px 15px;
    }
    &__label{
     display: block;
      margin-bottom: 4px;
    }
    &__input{
      box-sizing: border-box;
      border: 0;
      border-bottom: 1px solid #CEB597;
      outline: 0;
      background: transparent;
      padding: 6px 7px;
      transition: ease-out .3s;
      width: 100%;
      border-radius: 2px;
      &:focus{
        border-bottom: 1px solid #624242;
      }
    }
    &__button{
      background: #624242;
      padding: 6px 12px;
      border-radius: 2px;
      color: #f0f0f0;
      font-size: 14px;
      font-weight: 400;
      border:none;
      outline: none;
      transition: ease-in-out .3s;
      &:hover{
        cursor: pointer;
        background: #261a1a;

      }
    }
  }
}




